/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Colors */
:root {
    /* Primary */
    --blue: hsl(223, 87%, 63%);

    /* Secondary */
    --pale-blue: hsl(223, 100%, 88%);
    --light-red: hsl(354, 100%, 66%);

    /* Neutral */
    --grey: hsl(0, 0%, 59%);
    --very-dark-blue: hsl(209, 33%, 12%);
}

/* Fonts */
h1 {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 300;
    font-size: 3rem;
    color: var(--grey);
    margin-bottom: 1rem;
}

h2 {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 300;
    font-size: 1.25rem;
    color: var(--very-dark-blue);
    margin-bottom: 2.5rem;
}

p {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 300;
    font-size: .75rem;
    color: var(--grey);
}

span {
    font-weight: 700;
    color: var(--very-dark-blue);
}

/* General */
.main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
}

.logo {
    margin-top: 5rem;
    margin-bottom: 2.5rem;
}

input {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 1rem;
    width: 25rem;
    height: 3.125rem;
    margin-right: .625rem;
    border-radius: 1.75rem;
    border: .063rem solid #C2D3FF;
    padding: 1.125rem 1.875rem 1.125rem 1.875rem;
}

input::placeholder {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: #bbc7ed;
}

button {
    background-color: var(--blue);
    color: #ffffff;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    border-style: none;
    border-radius: 1.75rem;
    box-shadow: 0rem .313rem .625rem .125rem rgba(76, 123, 243, 23.04%);
    padding: .0625rem;
    width: 12.5rem;
    height: 3.5rem;
    cursor: pointer;
}

.email-form {
    display: inline-flex;
}

.illustration {
    margin-top: 5.875rem;
    margin-bottom: 4.5rem;
}

.illustration img {
    width: 40rem;
}

.social-media-icon-group {
    display: flex;
    width: 7.5rem;
    justify-content: space-between;
    margin-bottom: 1.563rem;
}

.social_icon {
    width: 2rem;
    height: 2rem;
}

/* Custom Form Validation */
.error-text {
    color: var(--light-red);
    font-size: .75rem;
    font-style: italic;
    margin-top: .5rem;
    padding-left: 1.875rem;
    display: none;
}

/* Attribution */
.attribution {
    text-align: center;
    margin-bottom: 3.125rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* Responsiveness */
@media screen and (max-width: 50rem) {
    .logo {
        margin-top: 5.0625rem;
        margin-bottom: 2rem;
    }

    .logo img {
        width: 3.5rem;
    }

    h1 {
        font-size: 1.375rem;
        margin-bottom: .9375rem;
    }

    h2 {
        font-size: .75rem;
        margin-bottom: 2rem;
    }

    p {
        font-size: .625rem;
    }

    input {
        width: 17.5625rem;
        height: 2.5rem;
        margin-bottom: .375rem;
    }

    input::placeholder {
        font-size: .75rem;
        padding-left: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .email-form {
        display: inline-block;
    }

    .error-text {
        font-size: .625rem;
        text-align: center;
        padding-left: 0rem;
        margin-top: 0rem;
        margin-bottom: 1.25rem;
    }

    button {
        width: 17.625rem;
        height: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .illustration {
        margin-bottom: 7.5rem;
    }

    .illustration img {
        width: 20rem;
    }

    .social-media-icon-group {
        margin-bottom: 1.6875rem;
    }

}